<link rel="stylesheet" type="text/css" href="css/modalStyle.css">
<ion-modal-view class="holdModal">
  <ion-header-bar class="holdModalHeader">
    <h1 class="holdModalHeaderTitle">Place modal on hold</h1>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="tableHeader">
	    <div class="tableHeaderItem">Products</div>
	    <div class="tableHeaderItem">QTY</div>
	    <div class="tableHeaderItem">Price</div>
	    <div class="tableHeaderItem subtotal">Subtotal</div>
  	</div>

  	<div class="tableAreaModal">
      <table class="table dataTableModal">
        <tbody>
          <tr class="dataTableRowModal" ng-repeat="cartRow in cart">
            <td class="dataTableItemNameModal">{{cartRow.productName}}</td>
            <td class="dataTableItemInfoModal">{{cartRow.quantity}}</td>
            <td class="dataTableItemInfoModal">{{cartRow.price}} ₹</td>
            <td class="dataTableItemInfoModal subtotalDataModal">{{cartRow.total}} ₹</td>
          </tr>
        </tbody>
      </table>
    </div>

    <input type="text" class="holdModalInput" placeholder="Enter Customer Name">
    <input type="text" class="holdModalInput" placeholder="Enter Phone Number">

    <div class="cartOrder">
        <div class="cartOrderRow">
	        <div class="cartOrderButtonOrangeModal firstBtn" ng-click="closeHoldModal();">
		        <i class="ion-close buttonIcon"></i>
		        <p class="buttonText">Cancel</p>
	       	</div>
	       	<div class="cartOrderButtonGreenModal">
                <i class="ion-checkmark-round buttonIcon"></i>
                <p class="buttonText">Save</p>
            </div>
       	</div>
    </div>

  </ion-content>
</ion-modal-view>