/*Home Page style*/
.header {
	display: block;
	float: left;
	width: 100%;
	height: 80px;
    background: #4c9c4f;
    background: -webkit-linear-gradient(#4c9c4f, #ADF3B0);
    background: -o-linear-gradient(#4c9c4f, #ADF3B0);
    background: -moz-linear-gradient(#4c9c4f, #ADF3B0);
    background: linear-gradient(#4c9c4f, #ADF3B0);
}
.headerTitleDiv {
	width: 30%;
	float: left;
}
.headerTitle {
	float: left;
	font-size: 3em;
	color: white;
	margin-left: 20px !important;
	margin-top: 10px !important;
}
.dateAndTime {
	color: white;
	font-size: 1.4em;
	float: left;
	margin-left: 10%;
	margin-top: 28px;
}
.userInfo {
	float: left;
	width: 70%;
}
.welcome {
	font-size: 1.6em;
	color: white;
	float: right;
	margin-top: 25px !important;
	margin-right: 15px;
}
.logoutBtn {
	float: right;
	width: 20%;
	height: 40px;
	border: none !important;
	background-color: #337AB7;
	color: white;
	border-radius: 5px;
	font-size: 1.2em !important;
	margin-top: 15px;
	margin-right: 10px;
}
.mainDiv {
	overflow-y: auto;
}
.leftDiv {
	width: 58%;
	height: 90vh;
	display: block;
	float: left;
	background: white;
	margin-top: 50px;
	margin-right: 15px;
	margin-left: 10px;
}
@media screen and (max-height: 620px) {
	.leftDiv {
		height: 80vh;
	}
}
/*.menuBar {
	width: 58vw;
	min-width: 58vw;
	max-width: 58vw;
	height: 50px;
	background: #dd9a65;
	border-radius: 10px;
	border: 1px solid gray;
	overflow-x: auto;
	white-space: nowrap;
}
.menuBarPart {
	display: inline;
	width: 25%;
	height: 49px;
	float: left;
	border-left: 1px solid gray;
}*/
.menuBar {
	background: #dd9a65;
	border-radius: 10px;
	border: 1px solid gray;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	width: 58vw;
	height: 50px;
}
.menuBarPart {
	display: inline-block;
	overflow: visible;
	height: 50px;
	width: 150px;
	border-right: 1px solid grey;
}
.menuBarPartText {
	color: white;
	font-size: 1.2em;
	text-align: center;
	padding-top: 12px;
}
.firstMenuBarPart {
	border: none;
}
.menuItems {
	width: 100%;
	height: 85%;
	max-height: 75vh;
	background: white;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   margin-top: 33px;
   overflow-y: auto;
}
.menuItemsTitle {
	width: 100%;
	height: 35px;
	background: #dd9a65;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   padding-top: 6px;
}
.menuItemsTitleText {
	font-size: 1.1em;
	margin-left: 10px;
	color: white;
}
.productList {
	width: 94%;
	margin-right: auto;
	margin-left: auto;
	overflow-y: scroll;
	margin-bottom: 10px !important;
}
.productListRow {
	width: 100%;
	margin-top: 20px;
	float: left;
}
.product {
	width: 23%;
	height: 90px;
	float: left;
	background: #4c9c4f;
	margin-right: 2%;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   margin-bottom: 15px;
}
.productCircleDiv {
	width: 60%;
	float: left;
}
.productCircle {
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	background: #acb0b7;
	border-radius: 50px;
	width: 70%;
	height: 55px;
}
.productData {
	margin-top: 15px;
	width: 40%;
	float: left;
}
.productDataTitle {
	color: white;
	font-size: 1.2em;
	padding: 0px !important;
	margin: 0px !important;
}
.productDataText {
	color: white;
	font-size: 1em;
	padding: 0px !important;
	margin: 0px !important;
}

.rightDiv {
	width: 38%;
	height: 86vh;
	display: block;
	float: left;
	background: white;
	margin-top: 50px;
	padding-bottom: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
@media screen and (max-height: 620px) {
	.rightDiv {
		height: 82vh;
	}
}
.shoppingCartTitle {
	width: 100%;
	height: 35px;
	background: #dd9a65;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    padding-top: 6px;
}
.shoppingCartTitleText {
	font-size: 1.1em;
	margin-left: 10px;
	color: white;
}
.tableHeader {
	width: 95%;
	height: 40px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border-radius: 8px;
	border: 2px solid gray;
}
.tableHeaderItem {
	display: block;
	float: left;
	width: 25%;
	height: 36px;
	font-size: 1.3em;
	text-align: center;
	color: gray;
	border-right: 2px solid gray;
	padding-top: 6px;
}
.subtotal {
	color: white;
	border: none;
	background: #dd9a65;
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
}
.tableArea {
	margin-top: 20px;
	min-height: 35vh;
	max-height: 35vh !important;
	overflow-y: auto;
}
@media screen and (max-height: 800px) {
	.tableArea {
		min-height: 22vh;
		max-height: 22vh !important;
	}
}
@media screen and (max-height: 620px) {
	.tableArea {
		min-height: 19vh;
		max-height: 19vh !important;
	}
}
.dataTable {
	background: #4c9c4f !important;
	width: 95% !important;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    color: white;
    font-size: 1.2em;
}
.dataTableRow {
	height: 30px !important;
}
.dataTableItemInfo {
	width: 25% !important;
	border-left: 1px solid white;
	text-align: center;
}
.quantityBtn {
	font-size: 1.2em;
}
.dataTableItemName {
	width: 25% !important;
	text-align: left;
	padding-left: 20px !important;
}
.subtotalData {
	background-color: #dd9a65;
}
.cart {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	bottom: 0;
	position: relative;
}
.cartPart {
	width: 100%;
	display: inline-block;
}
.cartPartTitle {
	width: 50%;
	float: left;
	display: inline;
	border: 2px solid gray;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px; 
	height: 33px;
	font-size: 1.3em;
	text-align: center;
	padding-top: 3px;
}
@media screen and (max-height: 620px) {
	.cartPartTitle {
		font-size: .9em;
		height: 20px;
		padding-top: 0px;
	}
}
#total {
	background: #4c9c4f;
	font-weight: bold; 
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px; 
	color: white;
}
.cartPartData {
	width: 50%;
	display: inline;
	float: left;
	border: 2px solid gray;
	border-left: none;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px; 
	height: 33px;
	color: white;
	font-size: 1.3em;
	background: #dd9a65;
	text-align: center;
}
@media screen and (max-height: 620px) {
	.cartPartData {
		font-size: .9em;
		height: 20px;
		padding-top: 0px;
	}
}
.cartOrder {
	margin-top: 10px; 
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.cartOrderRow {
	width: 100%;
	display: block;
}
.cartOrderButtonOrange {
	width: 48%;
	float: left;
	display: inline;
	background: #dd9a65;
	height: 70px;
	border-radius: 30px;
	text-align: center;
	padding-top: 22px;
	border-top: 2px solid #337ab7;
}
@media screen and (max-height: 620px) {
	.cartOrderButtonOrange {
		height: 40px;
		padding-top: 6px;
	}
}
.firstOrangeBtn {
	margin-right: 4%;
}
.buttonIcon {
	color: white;
	display: inline;
	font-size: 1.6em;
	margin-right: 5px;
}
.buttonText {
	color: white;
	display: inline;
	font-size: 1.6em;
}
.cartOrderButtonBlue {
	width: 48%;
	float: left;
	display: inline;
	background: #337ab7;
	height: 70px;
	border-radius: 30px;
	text-align: center;
	padding-top: 22px;
	border-top: 2px solid #337ab7;
	margin-right: 4%;
	margin-top: 20px;
}
@media screen and (max-height: 620px) {
	.cartOrderButtonBlue {
		height: 40px;
		padding-top: 6px;
	}
}
.cartOrderButtonGreen {
	width: 48%;
	float: left;
	display: inline;
	background: #4c9c4f;
	height: 70px;
	border-radius: 30px;
	text-align: center;
	padding-top: 22px;
	border-top: 2px solid #337ab7;
	margin-top: 20px;
}
@media screen and (max-height: 620px) {
	.cartOrderButtonGreen {
		height: 40px;
		padding-top: 6px;
	}
}

/*Login style*/
.pageContentLogin {
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	padding-top: 150px;
	background: #4c9c4f;
    background: -webkit-linear-gradient(#4c9c4f, #86B888);
    background: -o-linear-gradient(#4c9c4f, #86B888);
    background: -moz-linear-gradient(#4c9c4f, #86B888);
    background: linear-gradient(#4c9c4f, #86B888);
}
.loginForm {
	background-color: white; 
	border-radius: 10px; 
	width: 75%; 
	margin-right: auto; 
	margin-left: auto; 
	height: 400px; 
	box-shadow: 0 0 10px rgba(0,0,0,0.6); 
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.loginTitle {
	text-align: center; 
	font-size: 2.8em; 
	padding-top: 30px !important;
	margin-bottom: 40px;
}
.loginInput {
	width: 90%;
	margin-left: 5%;
	border: 1px solid black !important;
	border-radius: 5px;
	padding-left: 10px;
	margin-bottom: 8px;
	height: 50px !important;
	font-size: 1.6em !important;
	padding-left: 10px !important;
}
.loginBtn {
	width: 90%; 
	margin-left: 5%; 
	border-radius: 8px; 
	height: 90px; 
	font-size: 1.5em; 
	color: white; 
	background-color: #4c9c4f; 
	margin-top: 30px;
}

/*Amount page*/
.amountSubTitle {
	margin-bottom: 40px;
	text-align: center; 
	font-size: 1.5em;
}

ion-content.padding.scroll-content.ionic-scroll.overflow-scroll.has-tabs {
  padding: 0px !important;
  height: 100vh !important;
}
ion-content {
  padding: 0px !important;
  overflow: hidden;
}
.bottomArea {
	width: 38%;
	position: fixed;
	bottom: 0;
	margin-bottom: 5%;
}
tbody {
	width: 300px !important;
}