<ion-view view-title="Home Page" hide-nav-bar="true">
  	<ion-pane>
      <ion-header-bar class="header">
        <div class="headerTitleDiv">
          <h1 class="headerTitle">Umiya</h1>
        </div>
        <div class="userInfo">
          <p class="dateAndTime"><strong>{{ realDate | date:"dd-MM-yy HH:mm"}}</strong></p>
          <button class="logoutBtn" ng-click="openLogoutModal()">Logout</button>
          <h6 class="welcome">Welcome, umisan</h6>
        </div>
      </ion-header-bar>
      <ion-content scroll="false">
        <div class="leftDiv">
          <div class="menuBar">
            <div class="menuBarPart">
              <p class="menuBarPartText">All</p>
            </div>
            <div class="menuBarPart">
              <p class="menuBarPartText">Cold drinks</p>
            </div>
            <div class="menuBarPart">
              <p class="menuBarPartText">Ciggarete</p>
            </div>
            <div class="menuBarPart">
              <p class="menuBarPartText">Water</p>
            </div>
            <div class="menuBarPart">
              <p class="menuBarPartText">Food</p>
            </div>
            <div class="menuBarPart">
              <p class="menuBarPartText">Drink</p>
            </div>
            <div class="menuBarPart">
              <p class="menuBarPartText">Beer</p>
            </div>
          </div>
          <div class="menuItems">
            <div class="menuItemsTitle">
              <p class="menuItemsTitleText">Cold drinks</p>
            </div>

              <!-- Products is an array defined in HomePageController.js file. For replacing with actual data, probably received from back-end just put the return of the service into $scope.products. -->
              <div class="productList">
                <div class="productListRow">
                	<div ng-repeat="product in products">
                		<product-block product="product"></product-block>
                	</div>
                </div>
              </div>
            </div>
          </div>

          <div class="rightDiv">
            <div class="shoppingCartTitle">
              <p class="shoppingCartTitleText">Shopping cart</p>
            </div>

            <div class="tableHeader">
              <div class="tableHeaderItem">Products</div>
              <div class="tableHeaderItem">QTY</div>
              <div class="tableHeaderItem">Price</div>
              <div class="tableHeaderItem subtotal">Subtotal</div>
            </div>

          <div class="tableArea">
            <table class="table dataTable">
              <tbody>
                <tr class="dataTableRow" ng-repeat="cartRow in cart">
                  <td class="dataTableItemName">{{cartRow.productName}}</td>
                  <td class="dataTableItemInfo">
                    <i class="ion-minus-circled quantityBtn" ng-click="decreaseQuantity(cartRow)"></i>
                    {{cartRow.quantity}}
                   <i class="ion-plus-circled quantityBtn" ng-click="increaseQuantity(cartRow)"></i>
                  </td>
                  <td class="dataTableItemInfo">{{cartRow.price}} ₹</td>
                  <td class="dataTableItemInfo subtotalData">{{cartRow.total}} ₹</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="bottomArea">
            <div class="cart">
              <div class="cartPart" id="total">
                <div class="cartPartTitle">
                  Total
                </div>
                <div class="cartPartData">
                  105 ₹
                </div>
              </div>
              <div class="cartPart">
                <div class="cartPartTitle">
                  Total Items
                </div>
                <div class="cartPartData">
                  8
                </div>
              </div>
              <div class="cartPart">
                <div class="cartPartTitle">
                  Discount
                </div>
                <div class="cartPartData">
                  0 ₹
                </div>
              </div>
              <div class="cartPart">
                <div class="cartPartTitle">
                  Order Tax
                </div>
                <div class="cartPartData">
                  0 ₹
                </div>
              </div>
            </div>

            <div class="cartOrder">
              <div class="cartOrderRow">
                <div class="cartOrderButtonOrange firstOrangeBtn" ng-click="openHoldModal()">
                  <i class="ion-android-hand buttonIcon"></i>
                  <p class="buttonText">Hold</p>
                </div>
                <div ng-click="cancel()" class="cartOrderButtonOrange">
                  <i class="ion-close buttonIcon"></i>
                  <p class="buttonText">Cancel</p>
                </div>
              </div>

              <div class="cartOrderRow">
                <div class="cartOrderButtonBlue">
                  <i class="ion-printer buttonIcon"></i>
                  <p class="buttonText">Print</p>
                </div>
                <div class="cartOrderButtonGreen" ng-click="openPaymentModal()">
                  <i class="ion-cash buttonIcon"></i>
                  <p class="buttonText">Payment</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-pane>
</ion-view>